.toolbar {
    background-color: black;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    position: static;
}

.toolber_Nav {
    display: flex;
    height: 100%;
    padding: 0 0.5rem;
}

img {
    margin-top: 5px;
    margin-left: 5px;
    height: 40px;
}

.toolbar_logo {
    margin-left: 1rem;
}

.toolbar_items a {
    text-decoration: none;
    color: white;
}

.toolbar_items ul {
    font-size: 25px;
    list-style: none;
    margin: 9px;
    padding: 0%;
    display: flex;
}

.toolbar_items li {
    padding-right: 00.75rem;
}

.toolbar_items a:hover {
    color: #aaaaaa !important;
    font-size: 26px;
    list-style: none;
}

.toolbar_items a:active {
    color: #black;
    list-style: none;
}

.toolbar_items a:link {
    color: white !important;
    list-style: none;
}

.toolbar_items li a:focus {
    color: #aaaaaa !important;
    list-style: none;
}

@media (max-width:769px) {
    .toolbar_items {
        display: none;
    }
}

@media (min-width:769px) {
    .sidenav_toolbar {
        display: none;
    }
    .toolbar_logo {
        margin-left: 0;
    }
}