.toolbar{
  background-color: #555555;
width: 100%;
height: 50px;
top:0;
left:0;
position: fixed;
}
.toolber_Nav{
  display: flex;
  height: 100%;
  padding: 0 0.5rem;



}
img{text-align: center;
  height: 50px;
  border-bottom-left-radius:8px;
  border-bottom-right-radius: 8px;

}
.toolbar_logo{
  margin-left: 1rem;
}
.toolbar_items a{
text-decoration: none;
color: white;
}
.toolbar_items ul{
  font-size: 25px;
  list-style: none;
  padding: 0;
  margin: 25px 0 25px 0 ;
  display: flex;
}
.toolbar_items li{
  padding: 0 0.5rem;
}
.toolbar_items a:hover,.toolbar_items a:active{
  color: #aaaaaa;
}
@media (max-width:768px){
  .toolbar_items{
    display: none;
  }
}
@media (min-width:769px){
  .sidenav_toolbar{
    display: none;
  }
  .toolbar_logo{
    margin-left: 0;
  }

}
